footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 1%;
    font-size: 16px;
    font-weight: 600;
}
.container {
    padding: 10px 0 20px 0;
}

.plus__button {
    max-width: 25px;
    max-height: 25px;
}

.main-image, .small-images, .table-striped {
    padding: 5px;
}

.gallery {
    padding: 80px 0;
}

img {
    max-width: 50px;
}

.navbar-toggler {
    border-style: none;
}

.bg-whitegray {
    background-color: #D3D3D3;
}

.navbar-brand {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 0;
    height: 100%;
}

.brand-name {
    font-weight: 700;
    font-size: 24px;
}

.mainImage {
    margin-top: 24px;
    width: 100%;
    max-height: 24rem;
}

.small-images {
    display: flex;
}

.small-image {
    margin-right: 2%;
    margin-top: 2%; 
}

.small-image-active {
    text-decoration: solid;
    color: #858484;
    border: 2px solid #a5a5a5;
}

.table-striped {
    margin-top: 30px;
}

.system-requirements {
    font-size: 24px;
    font-weight: 500;
}
tbody tr td {
    color: #a5a5a5;
}

@media screen and (min-width: 420px){
    .main-image img {
        object-fit: cover;
        width: 400px;
    }
}